.login-button {
    cursor: pointer !important;
}

.hideAttrib {
    display: none;
}

.btn-link
{
    color: #6c757d !important;
    text-decoration: none !important;
}

.btn-link:hover{
    text-decoration: none !important;
}

.mr-5
{
    margin-right: 5rem !important;
}

/* .navbar-toggler
{
    background-color: blue !important;
    border: 1px solid white !important;
} */

.navbar-light .navbar-nav .nav-link {
    color: rgb(252, 250, 250) !important;
    margin-left: 2rem;
}

.navbar-light .navbar-brand {
    color: rgb(252, 250, 250) !important;
}

/* .btn-secondary {
    color: #fff;
    background-color: none !important;
    border-color: none !i;
} */