.card
{
    margin:50px !important;
}

.heading-center
{
    text-align: center;
    margin-top: 10px;
}

.btn-link {
    
    color: #0471d1 !important;
    text-decoration: underline !important;
}

