.user-image-post
{
    height: 30px;
    border-radius: 50%;
    margin-right: 7px ;
    margin-bottom: 10px;
}

.post-div{
    
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    margin-bottom:15px;
    
}